.container {
    margin-top: 50px;
    width: 55%;
}
.big{
    height: 325px;
    width: 325px;
    margin-bottom: 50px;
}

.row {
    outline: 5px red solid;
    text-align: center;
    display: inline-block;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.in {
    display: inline-block;
}