#help {
    width: 50%;
    text-align: center;
}


ol {
    list-style: none;
}
header{
    width: 100%;
    height: 400px;
}
#image{
    background-image: url('../../image/man.jpg');
    width: 100%;
    height: 400px;
    position: absolute; /* Declared position allows for location changes */
    top: -20px; /* Moves the image 2px closer to the top of the page */
}