#home{
    background-image: url('../../image/mental-health.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#myCarousel {
    margin-top: 100px;
}

#title {
    text-align: center;
    margin-top: 190px;
    font-size: 70px;
}