#ban {
    background-image: url('../../image/sky-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-con{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
}

#pic{
    text-align: center;
}